<?xml version="1.0"?>

<model>
  <name>Chekerboard Pattern</name>
  <version>1.0</version>
  <sdf version='1.6'>chekerboard_pattern.sdf</sdf>

  <author>
    <name>Sumit Dey</name>
    <email>dey.sumit.kr@gmail.com</email>
  </author>

  <description>
    A board of dims 2m x 2m x 0.1m with 8x8 square grid pattern for camera calibration.
    Inner verter-to-vertex distance is 25cm.
    The origin of the model lies on center of the surface of calibration pattern.
  </description>
</model>
