<?xml version="1.0"?>

<model>
  <name>Camera</name>
  <version>1.0</version>
  <sdf version='1.6'>camera.sdf</sdf>

  <author>
    <name>Sumit Dey</name>
    <email>dey.sumit.kr@gmail.com</email>
  </author>

  <description>
    Camera Sensor with configurable distortion params.
  </description>
</model>
